<h1 class="pb-4">Hello <%= @customer.name %></h1>
<p class="pb-4">Your balance is: $<%= @customer.balance %></p>
<%= link_to 'Request store credit', credit_path, method: :patch, remote: true, class: "btn btn-primary pb-4" %>
<%= render 'shared/newest_books' %>
