<h1>Announce your rare material and get the right exposure</h1>
<p>We specialize in exposing hard to find, limited editions and signed copies of
all kinds of literature to collectors and niche customers.</p>
<p>If you have some hidden gems, let us shine them the right persons way!</p>
<%= link_to 'Get started', new_merchant_session_path %>
<%= render 'shared/newest_books' %>

