<h1>Checkout</h1>
<div class="container-cart">
  <% @cart_items.each do |item| %>
    <p> <%= item.book.title %> $<%= item.book.price %> </p>
    <p> <%= link_to "Remove item", cart_item_path(item), method: :delete, remote: true %></p>
  <% end %>
  <p>Subtotal: </p>
  <p>Subtotal: </p>
  <p>Total: </p>
  <%= @cart_items.size %>
  <!-- button to empty cart -->
</div>


