.card-book, .card-book-small{
  display: inline-block;
  border-radius: 3px;
  margin: 12px;
  padding: 16px;
}

.card-book-small{
  width: 42%;

}

@media screen and (min-width: 995px) {
  .card-book-small{
    width: 22%;
  }
}
