.container-navbar-custom{
  margin-bottom: 120px;
}

.container-form-search{
  margin-bottom: 56px;
}

.container-books-recent{
  display: block;
  padding: 64px 0;
}

.container-search-results{
  padding: 24px;
}
