.navbar-custom {
  justify-content: space-between;
  background: $light-gray;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand {
  font-size: 23pt;
  font-weight: bold;
}

.nav-item, .navbar .navbar-brand{
  margin: 16px;
}
